body{
background-color:#008800;
width:100%;
height:100%;
position:fixed;
margin:0;
border:0;
padding:0;
}

.file{
position:absolute;
width:75px;
height:120px;
display:block;
}

.file img{
position:absolute;
top:0px;
left:0px;
width:75px;
height:75px;
}

.file .text{
position:absolute;
top:75px;
left:0px;
font-size:12px;
width:75px;
height:45px;
word-break:break-all;
text-align:center;
z-index:1;
color:#ffffff;
}

.window .file .text{
color:#000000;
}

.file .cnt{
position:absolute;
top:55px;
right:0px;
font-size:12px;
height:20px;
word-break:break-all;
z-index:1;
background-color:rgba(0,0,0,0.15);
}

.file .progress_bar{
position:absolute;
top:105px;
left:0px;
width:75px;
height:15px;
background-color:#999999;
}

.file .progress_bar.active:before{
position:absolute;
top:0px;
left:0px;
width:75px;
height:15px;
font-size:9px;
text-align:center;
content: "Loading...";
z-index:1;
color:#ffffff;

}

.file .progress_bar1{
position:absolute;
width:0px;
height:15px;
background-color:#333333;
}

.file .progress_bar.active .progress_bar1{
background-color:#0000ff;
}

#file_loader_exe{
top:20px;
left:20px;
}

#achievements_exe{
top:150px;
left:20px;
}

#stats_exe{
top:150px;
left:105px;
}

#settings_exe{
top:150px;
left:190px;
}

#about_exe{
top:150px;
left:275px;
}

#changelog_html{
top:150px;
left:360px;
}

.window{
position:absolute;
top:30px;
left:30px;
width:calc(100% - 60px);
height:calc(100% - 60px);
background-color:#000000;
z-index:2;
display:none;
}

.window.shown{
display:block;
}

.window .close{
position:absolute;
top:5px;
right:5px;
width:30px;
text-align:center;
background-color:#ff0000;
z-index:4;
}

.window .inner{
position:absolute;
top:5px;
left:5px;
width:calc(100% - 10px);
height:calc(100% - 10px);
background-color:#cccccc;
z-index:3;

}

#export1{
width:calc(100% - 10px);
height:400px;
resize:none;
}
